@model LojaVirtual.Dominio.Entidades.Carrinho
    
<link href="~/Content/Carrinho/Resumo.css" rel="stylesheet"/>

<div class="navbar-right">
    @Html.ActionLink(" ", "Index", "Carrinho", new {returnUrl = Request.Url.PathAndQuery}, new {@class="carrinho-compras"})
</div>

<div class="navbar-text navbar-right">
    <b>Seus Produtos:</b>
     @Model.ItensCarrinho.Sum(x => x.Quantidade) item(s), @Model.ObterValorTotal().ToString("c")
</div>
    



